<div class="header">
	<div class="score-container pull-right">
		1000
	</div>
	<div>
		<h3 class="text-muted">Cloud Architecture Patterns Demo</h3>
		<span class="text-muted">Charlotte Code Camp 2014</span>
	</div>
</div>

<div class="row marketing chat">
	<form class="form-line" role="form">
	  <div class="form-group">
	    <div class="input-group col-xs-8">
	      <input type="text" class="form-control">
	      <span class="input-group-btn">
	        <button class="btn btn-default" type="button">Send Message</button>
	      </span>
	    </div>
	  </div>
	  <div class="form-group">
	    <button class="btn" type="button">Hello CodeCamp!</button>
	    <button class="btn" type="button">Send Random Quote</button>
	  </div>
	</form>
</div>

<div class="row marketing messages">
	<h4>Messages</h4>
	<ul ng-repeat="message in messages">
		<p>
			<span class="username">{{message.user}}:</span>
				{{message.content}}
			</span>
	</ul>
</div>

<div class="footer">
	<p>♥ from the <a href="http://www.rdacorp.com/contact-us/">RDA Charlotte team</a></p>
</div>
